# Configuration file

##########################################################################################################
# blacklist
#--------------------------------------------------------------------------------------------------------#
# Blacklist options for various features
##########################################################################################################

blacklist {
    # Stops listed blocks and entities from being teleposed.
    # Use the registry name of the block or entity. Vanilla objects do not require the modid.
    # If a block is specified, you can list the variants to only blacklist a given state.
    S:teleposer <
        bedrock
        mob_spawner
     >

    # Stops listed blocks from being transposed.
    # Use the registry name of the block. Vanilla blocks do not require the modid.
    S:transposer <
        bedrock
        mob_spawner
     >

    # Stops the listed entities from being used in the Well of Suffering.
    # Use the registry name of the entity. Vanilla entities do not require the modid.
    S:wellOfSuffering <
     >
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Settings that only pertain to the client
##########################################################################################################

client {
    # Always render the beams between routing nodes.
    # If disabled, the beams will only render while the Node Router is held.
    B:alwaysRenderRoutingLines=false

    # Completely hide spectral blocks from view.
    # If disabled, a transparent block will be displayed.
    B:invisibleSpectralBlocks=true

    # When cycling through slots, the Sigil of Holding will skip over empty slots and move to the next occupied one.
    # If disabled, it will behave identically to the default hotbar.
    B:sigilHoldingSkipsEmptySlots=false
}


##########################################################################################################
# compat
#--------------------------------------------------------------------------------------------------------#
# Compatibility settings
##########################################################################################################

compat {
    # The display mode to use when looking at a Blood Altar.
    # ALWAYS - Always display information.
    # SIGIL_HELD - Only display information when a Divination or Seers sigil is held in either hand.
    # SIGIL_CONTAINED - Only display information when a Divination or Seers sigil is somewhere in the inventory.
    # Valid values:
    # ALWAYS
    # SIGIL_HELD
    # SIGIL_CONTAINED
    S:wailaAltarDisplayMode=SIGIL_HELD
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
    # Enables extra information to be printed to the log.
    B:enableAPILogging=false

    # Enables extra information to be printed to the log.
    # Warning: May drastically increase log size.
    B:enableDebugLogging=false

    # Enables tier 6 related registrations. This is for pack makers.
    B:enableTierSixEvenThoughThereIsNoContent=false

    # Enables extra information to be printed to the log.
    # Warning: May drastically increase log size.
    B:enableVerboseAPILogging=false
}


##########################################################################################################
# values
#--------------------------------------------------------------------------------------------------------#
# Value modifiers for various features
##########################################################################################################

values {
    # Amount of LP the Coat of Arms should provide for each damage dealt.
    # Min: 0
    # Max: 100
    I:coatOfArmsConversion=20

    # Amount of LP the Sacrificial Dagger should provide for each damage dealt.
    # Min: 0
    # Max: 10000
    I:sacrificialDaggerConversion=100

    # Declares the amount of LP gained per HP sacrificed for the given entity.
    # Setting the value to 0 will blacklist it.
    # Use the registry name of the entity followed by a ';' and then the value you want.
    # Vanilla entities do not require the modid.
    S:sacrificialValues <
        villager;75
        slime;15
        enderman;10
        cow;20
        chicken;20
        horse;50
        sheep;20
        wolf;50
        ocelot;50
        pig;20
        Cinder;45
        Jengu;60
        Geonach;45
        Aegis;50
        Djinn;66
        Argus;70
        Xaphan;50
        Volcan;50
        Zephyr;50
        Wisp;33
        Grue;66
        Spriggan;45
        Reiver;50
        Nymph;25
        Eechetik;10
        Banshee;33
        Vapula;50
        Tremor;50
        Sylph;75
        Wraith;80
        Spectre;125
        Kobold;20
        Ventoraptor;45
        Maka;20
        Zoataur;45
        Roc;33
        Feradon;50
        Quillbeast;33
        Morock;125
        Ent;20
        Treant;500
        Arisaur;33
        Warg;45
        Calpod;20
        Aglebemu;20
        Dweller;33
        Ettin;150
        Lurker;45
        Eyewig;45
        Aspid;33
        Triffid;45
        Remobra;50
        Ghoul_Zombie;45
        Geken;45
        Uvaraptor;50
        Concapede;45
        Tarantula;55
        Conba;20
        Vespid;33
        Dawon;55
        Cockatrice;75
        Sutiramu;50
        Crusk;45
        Clink;55
        Joust;20
        Erepede;45
        Gorgomite;20
        Manticore;55
        Crypt_Zombie;55
        Jabberwock;45
        Troll;55
        Yale;20
        Beholder;100
        Barghest;45
        Wildkin;125
        Frostweaver;33
        Yeti;45
        Wendigo;55
        Arix;33
        Serpix;65
        Maug;45
        Strider;150
        Silex;15
        Thresher;65
        Ioray;55
        Abaia;20
        Lacedon;55
        Skylus;65
        Ika;20
        Abtu;33
        Raiko;55
        Roa;75
        Herma;42
        Quetzodracl;100
        Phantom;75
        Epion;50
        Geist;45
        Chupacabra;45
        Shade;150
        Darkling;33
        Wraamon;40
        Lobber;70
        Cephignis;70
        Afrit;50
        Khalk;110
        Salamander;55
        Gorger;90
        Ignibus;175
        Belph;66
        Behemoth;150
        Pinky;90
        Trite;65
        Astaroth;190
        Cacodemon;250
        Rahovart;1000
        Asmodeus;999
        
        
        
     >

    # Will rewrite any default meteor types with new versions.
    # Disable this if you want any of your changes to stay, or do not want default meteor types regenerated.
    B:shouldResyncMeteors=true

    # Should mobs that die through the Well of Suffering Ritual drop items?
    B:wellOfSufferingDrops=true
}


