# Configuration file

entitiesalwaysinfernal {
    B:AS_EntityGolem=false
    B:EntityAshen=false
    B:EntityCalpod=false
    B:EntityCaveSpider=false
    B:EntityCreeper=false
    B:EntityCryptkeeper=false
    B:EntityCyclops=false
    B:EntityDweller=false
    B:EntityElderGuardian=false
    B:EntityEnderman=false
    B:EntityEttin=false
    B:EntityGeist=false
    B:EntityGhoul=false
    B:EntityGorgomite=false
    B:EntityGorgon=false
    B:EntityGuardian=false
    B:EntityHost=false
    B:EntityHusk=false
    B:EntityLobber=false
    B:EntityPirate=false
    B:EntityScuttler=false
    B:EntityShambler=false
    B:EntityShamblerTwisted=false
    B:EntitySilverfish=false
    B:EntitySiren=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySlimeDefiled=false
    B:EntitySpider=false
    B:EntityStray=false
    B:EntityStymphalianBird=false
    B:EntityTreant=false
    B:EntityTroll=false
    B:EntityTrumpetSkeleton=false
    B:EntityVespid=false
    B:EntityVespidQueen=false
    B:EntityWendigo=false
    B:EntityWitch=false
    B:EntityZombie=false
    B:EntityZombieVillager=false
}


entitybasehealth {
    D:AS_EntityGolem=300.1922607421875
    D:EntityAshen=20.0
    D:EntityCalpod=5.0
    D:EntityCaveSpider=12.0
    D:EntityCreeper=20.0
    D:EntityCryptkeeper=25.0
    D:EntityDweller=20.0
    D:EntityEnderman=40.0
    D:EntityGeist=15.0
    D:EntityGhoul=15.0
    D:EntityGuardian=30.0
    D:EntityHost=20.0
    D:EntityHusk=20.0
    D:EntityLobber=40.0
    D:EntityPirate=20.0
    D:EntityScuttler=16.0
    D:EntityShambler=40.0
    D:EntityShamblerTwisted=40.0
    D:EntitySkeleton=20.0
    D:EntitySlime=4.0
    D:EntitySlimeDefiled=1.0
    D:EntitySpider=16.6561336517334
    D:EntityStray=20.0
    D:EntityTrumpetSkeleton=20.0
    D:EntityWendigo=40.69403839111328
    D:EntityWitch=26.0
    D:EntityZombie=20.0
    D:EntityZombieVillager=20.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    S:dimensionIDBlackList=
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book
    I:eliteRarity=15
    I:infernoRarity=7
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.0
    I:ultraRarity=7
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:AS_EntityGolem=true
    B:EntityAshen=true
    B:EntityCalpod=true
    B:EntityCaveSpider=true
    B:EntityCreeper=true
    B:EntityCryptkeeper=true
    B:EntityCyclops=true
    B:EntityDweller=true
    B:EntityElderGuardian=true
    B:EntityEnderman=true
    B:EntityEttin=true
    B:EntityGeist=true
    B:EntityGhoul=true
    B:EntityGorgomite=true
    B:EntityGorgon=true
    B:EntityGuardian=true
    B:EntityHost=true
    B:EntityHusk=true
    B:EntityLobber=true
    B:EntityPirate=true
    B:EntityScuttler=true
    B:EntityShambler=true
    B:EntityShamblerTwisted=true
    B:EntitySilverfish=true
    B:EntitySiren=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySlimeDefiled=true
    B:EntitySpider=true
    B:EntityStray=true
    B:EntityStymphalianBird=true
    B:EntityTreant=true
    B:EntityTroll=true
    B:EntityTrumpetSkeleton=true
    B:EntityVespid=true
    B:EntityVespidQueen=true
    B:EntityWendigo=true
    B:EntityWitch=true
    B:EntityZombie=true
    B:EntityZombieVillager=true
}


